<nav class="nav-extended">
  <div class="nav-wrapper logo white">
    <%= nav_logos %>
  </div>
  <div class="nav-wrapper menu primary-color">
    <div class='row'>
      <div class="<%= content_for?(:row_class) ? yield(:row_class) : 'col s12' %>">
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <%= breadcrumbs separator: " &rsaquo; ", class: yield(:breadcrumb_class) %>
        <%= render partial: 'layouts/sidebar' %>
      </div>
      <%= yield :search_bar %>
      <%= yield :nav_entries %>
    </div>
  </div>
</nav>
