<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/head' %>

  <body class="<%= layout_theme %>">
    <%= render partial: 'layouts/header' %>

    <%= yield %>

    <!-- This is a placeholder for ReactOnRails to know where to render the store props for
     client side hydration -->
    <%= redux_store_hydration_data %>

    <% flash.each do |message_type, message| %>
      <%= javascript_tag "Materialize.toast('#{escape_javascript(message)}', 4000)" %>
    <% end %>
  </body>
</html>
