<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/head' %>

  <body class="login">
    <div class="row">
      <div class="col l6 m12 s12">
        <center>
          <div class="container">
            <div class="row">
              <div class="col l8 offset-l1 m8 offset-m1 s12">
                <%= image_tag asset_path('logo_wizzvis.png'), class: 'responsive-img' %>
              </div>
            </div>
          </div>
          <div class="section"></div>
          <div class="container">
            <div class="row">
              <div class="col l8 offset-l1 m8 offset-m1 s12">
                <div id="login-form" class="row z-depth-1 white">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </center>
      </div>
      <div class="col l6 m12 s12 image">
        <%= image_tag asset_path('login_notebook.png'), class: 'responsive-img' %>
      </div>
    </div>

    <% flash.each do |message_type, message| %>
      <%= javascript_tag "Materialize.toast('#{escape_javascript(message)}', 4000)" %>
    <% end %>
  </body>
</html>
